# exclude development artifacts
node_modules/
.editorconfig
.eslintrc
.eslintignore
.idea

# only for testing, these resources should not be delivered but are easy to forget
dist/resources/
dist/test-resources/

