# exclude development artifacts
node_modules
.editorconfig
.eslintrc
.eslintignore
.idea
webapp

# only for testing, these resources should not be delivered but are easy to forget
dist/webapp/resources
dist/webapp/test-resources
dist/resources
dist/test-resources

